div {
    background-color: greenyellow;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

#static {
    background-color: blueviolet;
    position: static;
    top: 100px;
    left: 100px;
}

#relative {
    background-color: blueviolet;
    position: relative;
    top: 100px;
    left: 100px;
}