section {
    margin-top: 90px;
}

div {
    height: 30px;
    width: 200px;
    background-color: bisque;
    border: 2px solid black;
    margin: 2px;
    text-align: center;
}

div:nth-of-type(2n) {
    background-color: yellowgreen;
}

div:nth-of-type(3n) {
    background-color: rgb(216, 227, 61);
}

#one {
    transform: rotate(45deg);
}